footer {
    .mailEnter {
        height: 80px;
        background: linear-gradient(to right, rgba(237,184,184,0.15) 50%,rgba(238,134,161,0.15) 0%);
        background-size: 24px 100%;
        display: flex;
        align-items: center;
        .wrap {
            width: calc(100% - (26px*2));
            max-width: 620px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        p {
            display: none;
        }
        input {
            width: 58%;
            height: 50px;
            background-color: #fae5e5;
            font-family: PTSans, 'Noto Sans TC', sans-serif;
            padding-left: 13px;
            box-sizing: border-box;
            outline: none;
            font-size: 1.4rem;
            color: #fda7a7;
            letter-spacing: 1.5px;
            line-height: 150%;
            &::placeholder {
                font-family: PTSans, 'Noto Sans TC', sans-serif;
                font-size: 1.4rem;
                letter-spacing: 0px;
                color: #fda7a7;
                padding-left: 13px;
                box-sizing: border-box;
            }
        }
        .button {
            width: 35%;
            height: 40px;
            border-radius: 25px;
            background-color: #fda7a7;
            font-family: PTSans, 'Noto Sans TC', sans-serif;
            font-size: 1.2rem;
            font-weight: bold;
            line-height: 1.83;
            letter-spacing: 1px;
            text-align: center;
            color: #ffffff;
        }
    }
    section {
        background: #fae5e5;
        .wrap {
            width: calc(100% - (41px * 2));
            max-width: 520px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
        .map {
            display: none;
        }
        ol {
            a,p {
                font-family: PingFangTC, 'Noto Sans TC', sans-serif;
                font-size: 1.4rem;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 3;
                letter-spacing: 3.5px;
                color: #ee86a1;
                cursor: pointer;
            }
        }
        .loginStatusFt {
            display: none;
            &.active {
                display: block;
            }
        }
        .memberZone {
            display: none;
            a,p {
                color: #706b66;
                font-weight: 400;
            }
            &.active {
                display: block;
            }
        }
        .information {
            display: none;
        }
        .social {
            a {
                font-family: PTSans, 'Noto Sans TC', sans-serif;
                font-size: 1.2rem;
                font-weight: bold;
                line-height: 3.5;
                letter-spacing: 1px;
                color: #ee86a1;
            }
            span {
                font-weight: normal;
            }
            .qr {
                display: none;
            }
        }
    }
    .footer_end {
        height: 70px;
        background: #fae5e5;
        display: flex;
        align-items: center;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            height: 1px;
            background-color: rgba(112, 107, 102, 0.15);
        }
        p {
            width: calc(100% - (41px * 2));
            margin: 0 auto;
            font-family: PingFangTC, 'Noto Sans TC', sans-serif;
            font-size: 1.2rem;
            color: #706b66;
        }
    }
}


@media (min-width: 768px) {
    footer {
        .mailEnter {
            input {
                width: 69%;
            }
            .button {
                width: 28%;
                height: 50px;
            }
        }
        section {
            .wrap {
                width: calc(100% - (26px*2));
                max-width: 1200px;
                padding: 6% 0 2.5% 0;
            }
            .information {
                display: flex;
                flex-direction: column;
                .logo {
                    width: 80px;
                    height: 80px;
                    background: url(../img/logo.png) center no-repeat;
                    background-size: cover;
                }
                .shop_name {
                    padding-left: 23px;
                }
                li {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    padding: 1.5% 0 1.5% 15px;
                    &.tip1, &.tip2 {
                        flex-direction: row;
                        align-items: center;
                    }
                    &.tip1 {
                        padding: 0;
                        padding-bottom: 14px;
                    }
                    .mail, .phone {
                        display: flex;
                        flex-direction: column;
                    }
                    .mail {
                        padding-left: 23px;
                    }
                }
                p {
                    font-family: PTSans, 'Noto Sans TC', sans-serif;
                    font-size: 1.2rem;
                    font-weight: bold;
                    line-height: 1.83;
                    letter-spacing: 1px;
                    color: #ee86a1;
                    &.text1 {
                        font-size: 1.4rem;
                        font-weight: 500;
                        letter-spacing: 3px;
                    }
                }
                span {
                    font-family: PTSans, 'Noto Sans TC', sans-serif;
                    font-size: 1.2rem;
                    letter-spacing: 2px;
                    color: #706b66;
                    &.text1 {
                        color: #ee86a1;
                    }
                }
            }
            ol {
                width: 12%;
            }
            .social {
                .qr {
                    display: block;
                    background: url(../img/qr.svg) center no-repeat;
                    background-size: cover;
                    width: 95px;
                    height: 95px;
                    margin-top: 10%;
                }
            }
        }
        .footer_end {
            height: 72px;
        }
    }
}



@media (min-width: 1200px) {
    footer {
        .mailEnter {
            .wrap {
                max-width: 750px;
            }
            p {
                display: block;
                font-family: PTSans, 'Noto Sans TC', sans-serif;
                font-size: 1.4rem;
                font-weight: bold;
                letter-spacing: 0.7px;
                color: #ee86a1;
                white-space: nowrap;
                padding-right: 20px;
            }
            .button {
                margin-left: 10px;
            }
        }
        section {
            .wrap {
                max-width: 1200px;
            }
            .map {
                display: block;
                width: 27.5%;
                height: 220px;
                flex-shrink: 0;
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .footer_end {
            &:before {
                width: 100%;
                max-width: 1200px;
            }
            p {
                max-width: 1185px;
            }
        }
    }
}