.home {
    .section1 {
        position: relative;
        height: 450px;
        margin-top: 40px;
        .banner {
            height: 100%;
            position: relative;
            overflow: hidden;
            .banner_turn {
                height: 100%;
            }
            .banner_slider {
                position: absolute;
                width: 100%;
                height: 450px;
            }
            .banner_photo {
                width: 100%;
                height: 100%;
                background-size: cover;
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(#000, 0.1);
                z-index: 28;
            }
        }
        .banner_dot {
            display: flex;
            width: 30%;
            max-width: 170px;
            align-items: center;
            justify-content: space-between;
            margin: -8% auto 0 auto;
            position: relative;
            z-index: 60;
            li {
                width: 6px;
                height: 6px;
                background: rgba(#fff, 0.6);
                cursor: pointer;
                &.active {
                    width: 8px;
                    height: 8px;
                    background: #A73724;
                }
            }
        }
        .text {
            background: rgba(#fff, 0.5);
            position: absolute;
            right: 9%;
            top: 5%;
            z-index: 30;
            padding: 5% 3%;
            writing-mode: vertical-rl;
            p {
                font-size: 14px;
                line-height: 145%;
                letter-spacing: 2px;
            }
        } 
    }
    .section2 {
        padding-top: 10%;
        .wrap {
            width: calc(100% - (35px*2));
            margin: auto;
            display: flex;
            flex-direction: column;
        }
        h4 {
            width: 100%;
            max-width: 400px;
            margin: auto;
            flex-shrink: 0;
            font-size: 17px;
            position: relative;
            text-align: center;
            letter-spacing: 3px;
            &::before,&::after  {
                content: '';
                display: block;
                background: #A73724;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 54px;
                height: 1px;
            }
            &::before {
                left: 15%;
            }
            &::after {
                right: 15%;
            }
        }
        .photo {
            background: url(../img/index_1.png)no-repeat;
            padding-bottom: 60%;
            width: 100%;
            background-size: cover;
            margin: 7% auto 0 auto;
        }
        .tip {
            margin-top: 7%;
            text-align: right;
        }
        .text {
            text-align: left;
            p {
                letter-spacing: 1px;
                line-height: 170%;
                padding-top: 6%;
            }
        }
        .knowMore_btn {
            font-size: 13px;
            display: inline;
            letter-spacing: 1.3px;
            position: relative;
            right: 5%;
            padding: 2%;
            margin: 2%;
            text-align: center;
            cursor: pointer;
            a {
                color: #000;
            }
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 3.4325px 0 3.4325px 6.088px;
                border-color: transparent transparent transparent #A73724;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right:-15%;
            }
        }
    }
    .section3 {
        padding-top: 10%;
        position: relative;
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(#000, 0.1);
            position: absolute;
            top: 1%;
        }
        .wrap {
            width: calc(100% - (35px*2));
            margin: auto;
            display: flex;
            flex-direction: column;
        }
        h4 {
            width: 100%;
            max-width: 400px;
            margin: auto;
            flex-shrink: 0;
            font-size: 17px;
            position: relative;
            text-align: center;
            letter-spacing: 3px;
            &::before,&::after  {
                content: '';
                display: block;
                background: #A73724;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 54px;
                height: 1px;
            }
            &::before {
                left: 20%;
            }
            &::after {
                right: 20%;
            }
        }
        p {
            letter-spacing: 1px;
            line-height: 170%;
            padding-top: 6%;
            margin: auto;
        }
        ul {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 5%;
            li {
                width: 48%;
                margin: 1%;
                overflow: hidden;
                display: none;
                .photo {
                    position: relative;
                    display: block;
                    padding-bottom: 100%;
                    transition: 0.8s;
                    &:hover { 
                        transform: scale(1.1);
                        .photo__text {
                            opacity: 1;
                        }
                    }
                    &:hover::after {
                        opacity: 1;
                    }
                }
                .photo::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.4);
                    opacity: 0;
                    transition: 0.8s;
                }
                .photo__text {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    writing-mode: vertical-rl;
                    font-size: 19px;
                    letter-spacing: 3px;
                    padding-top: 3px;
                    opacity: 0;
                    transition: 0.8s;
                }
                &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4) {
                    display: block;
                }
            }
        }
        ul.hide {
            display: none;
        }
        .text {
            font-size: 15px;
            letter-spacing: 2px;
            line-height:180%;
            display: flex;
            width: 50%;
            max-width: 160px;
            align-items: center;
            justify-content: space-between;
            margin: 5% auto 0 auto;
            position: relative;
            &::before {
                content: '';
                width: 1px;
                height: 23px;
                background: #A73724;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .productType, .shopType {
                cursor: pointer;
            }
        }
        .text__item {
            position: relative;
        }
        .text__item.active::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: -5px;
            width: 3px;
            height: 3px;
            background-color: #a73724;
        }
        .knowMore_btn {
            font-size: 13px;
            width: 19%;
            max-width: 85px;
            letter-spacing: 1.3px;
            position: relative;
            right: 5%;
            padding: 2%;
            margin: 2%;
            align-self: flex-end;
            text-align: center;
            cursor: pointer;
            a {
                color: #000;
            }
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 3.4325px 0 3.4325px 6.088px;
                border-color: transparent transparent transparent #A73724;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right:-15%;
            }
        }
    }
    .section4 {
        margin-top: 10%;
        .wrap {
            width: calc(100% - (35px*2));
            margin: auto;
            display: flex;
            flex-direction: column;
        }
        h4 {
            width: 100%;
            max-width: 400px;
            margin: auto;
            flex-shrink: 0;
            font-size: 17px;
            position: relative;
            text-align: center;
            letter-spacing: 3px;
            &::before,&::after  {
                content: '';
                display: block;
                background: #A73724;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 54px;
                height: 1px;
            }
            &::before {
                left: 15%;
            }
            &::after {
                right: 15%;
            }
        }
        ul {
            padding-top: 10%;
            display: flex;
            flex-wrap: wrap;
            li {
                width: 48%;
                margin: 1%;
                display: none;
                .photo {
                    padding-bottom: 100%;
                    display: block;
                }
                &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6) {
                    display: block;
                }
            }
        }
        .knowMore_btn {
            font-size: 13px;
            width: 19%;
            max-width: 85px;
            letter-spacing: 1.3px;
            position: relative;
            padding: 2%;
            margin: 2%;
            align-self: center;
            text-align: center;
            cursor: pointer;
            a {
                color: #000;
            }
            &:before {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 3.4325px 6.088px 3.4325px 0;
                border-color: transparent #A73724 transparent transparent;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left:-15%;
            }
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 3.4325px 0 3.4325px 6.088px;
                border-color: transparent transparent transparent #A73724;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right:-15%;
            }
        }
    }
    .section5 {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        position: relative;
        .wrap {
            width: calc(100% - (35px*2));
            margin: auto;
            h4 {
                width: 100%;
                max-width: 400px;
                margin: auto;
                flex-shrink: 0;
                font-size: 17px;
                position: relative;
                text-align: center;
                letter-spacing: 3px;
                &::before,&::after  {
                    content: '';
                    display: block;
                    background: #A73724;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 54px;
                    height: 1px;
                }
                &::before {
                    left: 15%;
                }
                &::after {
                    right: 15%;
                }
            }
            p {
                letter-spacing: 1px;
                line-height: 150%;
                padding-top: 6%;
            }
        }
        .tip {
            margin-top: 5%;
            background: url(../img/index_2.png) no-repeat center;
            padding: 0 6%;
            background-size: cover;
            box-sizing: border-box;
        }
        ul {
            display: flex;
            justify-content: space-between;
            padding: 90px 0;
            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                .icon {
                    background: url(../img/icon_1.svg);
                    width: 40px;
                    height: 40px;
                    &_6 {
                        background-position-x: 0%;
                        background-size: cover;
                    }
                    &_5 {
                        background-position-x: 20%;
                        background-size: cover;
                    }
                    &_4 {
                        background-position-x: 40%;
                        background-size: cover;
                    }
                    &_3 {
                        background-position-x: 60%;
                        background-size: cover;
                    }
                    &_2 {
                        background-position-x: 80%;
                        background-size: cover;
                    }
                    &_1 {
                        background-position-x: 100%;
                        background-size: cover;
                    }
                }
                span {
                    color: #C4551C;
                    font-size: 14px;
                    line-height: 400%;
                }
                p {
                    writing-mode: vertical-rl;
                    font-size: 13px;
                    letter-spacing: 2px;
                }
            }
        }
        .knowMore_btn {
            font-size: 13px;
            width: 19%;
            max-width: 100px;
            letter-spacing: 1.3px;
            position: absolute;
            right: 10%;
            bottom: 6%;
            align-self: flex-end;
            text-align: center;
            cursor: pointer;
            a {
                display: block;
                color: #000;
                padding: 10px;
                padding-right: 18px;
                background-color: #fff;
                transition: 0.5s;
            }
            a:hover {
                box-shadow: 5px 6px 2px -1px rgba(168, 168, 168, 0.6);
            }
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 3.4325px 0 3.4325px 6.088px;
                border-color: transparent transparent transparent #A73724;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 11%;
            }
        }
    }
    .section6 {
        margin-top: 10%; 
        .wrap {
            width: calc(100% - (35px*2));
            margin: auto;  
        }
        h4 {
            width: 100%;
            max-width: 400px;
            margin: auto;
            flex-shrink: 0;
            font-size: 17px;
            position: relative;
            text-align: center;
            letter-spacing: 3px;
            &::before,&::after  {
                content: '';
                display: block;
                background: #A73724;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 54px;
                height: 1px;
            }
            &::before {
                left: 15%;
            }
            &::after {
                right: 15%;
            }
        }
        .map {
            margin: 10% 0;
            iframe {
                width: 100%;
                height: 300px;
            }
        }
        .information{
            background: rgba(#000, 0.1);
            ul {
                width: calc(100% - (35px*2));
                margin: auto;  
                position: relative;
                padding: 5% 0;
            }
            li {
                display: flex;
                letter-spacing: 1.5px;
                line-height: 150%;
                padding: 5% 0;
                p {
                    font-size: 14px;
                    background: #A73724;
                    color: #fff;
                    width: 75px;
                    height: 21px;
                    line-height: 21px;
                    text-align: center;
                    position: relative;
                    margin-right: 5%;
                    flex-shrink: 0;
                    &:after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 21px 7px 0 0;
                        border-color: #A73724 transparent transparent transparent;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: -9%;
                    }
                }
                span {
                    font-size: 15px;
                }
                &.qr {
                    width: 64px;
                    height: 64px;
                    background: url(../img/qr.svg) no-repeat center;
                    background-size: cover;
                    padding: 0;
                    position: absolute;
                    right: 0;
                    bottom: 5%;
                }
            }
        }
    }
    .section7 {
        .wrap {
            width: calc(100% - (35px*2));
            margin: auto;  
        }
        h4 {
            width: 100%;
            max-width: 400px;
            margin: auto;
            flex-shrink: 0;
            font-size: 17px;
            position: relative;
            text-align: center;
            letter-spacing: 3px;
            &::before,&::after  {
                content: '';
                display: block;
                background: #A73724;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 54px;
                height: 1px;
            }
            &::before {
                left: 15%;
            }
            &::after {
                right: 15%;
            }
        }
        .video {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10% 0;
            iframe {
                width: 100%;
                height: 450px;
                max-width: 800px;
            }
        }
    }
    .section7__contatiner {
        margin-top: 10%; 
    }
}

@media (min-width: 768px) {
    .home {
        .section1{
            margin-top: 50px;
        }
        .section2 {
            .wrap {
                width: 100%;
                max-width: 700px;
                margin: 0 auto;
                .tip {
                    .text {
                        padding-bottom: 5%;
                    }
                }
            }
        }
        .section3 {
            padding: 10% 0 5% 0;
            .wrap {
                width: 100%;
                max-width: 700px;
                margin: 0 auto;
            }
            ul {
                justify-content: center;
                li {
                    width: 31%;
                    .photo {
                        padding-bottom: 70%;
                    }
                    &:nth-child(5),&:nth-child(6) {
                        display: block;
                    }
                }
            }
            .text {
                margin: 2% auto 0 auto;
            }
            .knowMore_btn {
                margin: 0;
            }
        }
        .section4 {
            ul {
                width: 100%;
                max-width: 700px;
                margin: 0 auto;
                li {
                    width: 31.33333%;
                }
            }
        }
        .section5 {
            .wrap {
                width: 100%;
                max-width: 700px;
                margin: 0 auto;
            }
            .tip {
                margin-top: 0;
            }
            ul {
                width: 100%;
                max-width: 700px;
                margin: 0 auto;
            }
        }
        .section6 {
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(#000, 0.1);
            position: relative;
            padding: 4% 0 2% 0;
            margin: 0;
            .wrap {
                order: 2;
                width: calc(50% - (35px*2));
                max-width: 400px;
                margin: 0;
            }
            h4 {
                position: absolute;
                top: 3%;
                left: 50%;
                transform: translateX(-50%);
                letter-spacing: 3px;
            }
            .information {
                width: 50%;
                max-width: 400px;
                background: transparent;
                ul {
                    margin: 0;
                }
                li {
                    &.qr {
                        right: 4%;
                        bottom: 0;
                    }
                }
            }
        }
        .section7 {
            .wrap {
                order: 2;
                width: calc(100% - (35px*2));
                max-width: none;
                margin: 0;
            }
            h4 {
                position: absolute;
                top: 13%;
                left: 50%;
                transform: translateX(-50%);
                letter-spacing: 3px;
            }
            .video {
                margin: 2% 0;
            }
        }
        .section7__contatiner {
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(#000, 0.1);
            position: relative;
            padding: 13% 0 4% 0;
            margin: 0;
        }
    }
}



@media (min-width: 1280px) {
    .home {
        position: relative;
        .section1 {
            height: auto;
            max-width: 1200px;
            margin: 180px auto 0 auto;
            &:before, &:after {
                content: '';
                display: block;
                width: 234px;
                height: 203px;
                background: rgba(#A8A9A9, 0.25);
                position: absolute;
            }
            &:before {
                content: '';
                top: -40%;
                left: 19%;
            }
            &:after {
                content: '';
                top: -17%;
                left: 6%;
            }
            .logo {
                background: url(../img/logo_4.svg) center no-repeat;
                height: 181px;
                width: 59px;
                background-size: contain;
                position: absolute;
                top: -23%;
                left: 12.5%;
                z-index: 99;
            }
            .banner {
                width: 71%;
                margin: 0 auto;
                height: 605px;
                .banner_slider {
                    height: 605px;
                }
            }
            .banner_dot {
                position: absolute;
                width: auto;
                height: 23%;
                bottom: 0;
                right: 12.5%;
                flex-direction: column;
                li {
                    background: #A73724;
                    &.active {
                        width: 6px;
                        height: 6px;
                        background: rgba(#A73724, 0.6);
                    }
                }
            }
            .text {
                padding: 1.5% 1.2%;
                right: 19.3%;
                top: 19.5%;
                &:before {
                    content: '';
                    display: block;
                    background: rgba(168, 169, 169, 0.25);
                    position: absolute;
                    width: 148px;
                    height: 80px;
                    bottom: -105%;
                    right: 14%;
                }
                &:after {
                    content: '';
                    display: block;
                    background: rgba(#A8A9A9, 0.25);
                    position: absolute;
                    width: 64px;
                    height: 56px;
                    bottom: -115%;
                    left: -45%;
                }
            }
        }
        .section2 {
            margin-top: 230px;
            position: relative;
            &:before {
                content: '';
                display: block;
                width: 23%;
                height: 185px;
                background: rgba(#000, 0.1);
                position: absolute;
                left: 0;
                top: 18%;
            }
            .wrap {
                width: calc(100% - (200px*2));
                max-width: 1000px;
                flex-direction: row;
                position: relative;
            }
            h4 {
                position: absolute;
                left: -5%;
                width: auto;
                writing-mode: vertical-rl;
                letter-spacing: 4px;
                margin-top: -0.1%;
                &::before,&::after  {
                    left: 50%;
                    transform: translateX(-50%);
                }
                &::before {
                    width: 1px;
                    height: 54px;
                    top: -90%;
                }
                &::after {
                    width: 6px;
                    height: 6px;
                    bottom: -25%;
                    top: auto;
                }
            }
            .photo {
                order: 2;
                width: 46%;
                margin: 0;
                padding-bottom: 31.5%;
            }
            .tip {
                width: 50%;
                margin: 0;
                padding: 0 4.5%;
                box-sizing: border-box;
            }
        }
        .section3 {
            margin-top: 10%;
            position: relative;
            padding-top: 8%;
            h4 {
                writing-mode: vertical-rl;
                width: auto;
                position: absolute;
                top: -1.5%;
                left: 50%;
                transform: translateX(-50%);
                letter-spacing: 4px;
                &::before {
                    top: auto;
                    bottom: -45%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 6px;
                    height: 6px;
                }
                &::after {
                    display: none;
                }
            }
            .wrap {
                width: calc(100% - (200px*2));
                max-width: 730px;
            }
            .knowMore_btn {
                padding: 0;
            }
            ul {
                margin-top: 1%;
                li {
                    display: block !important;
                }
            }
            .text {
                .productType, .shopType {
                    font-size: 15px;
                }
            }
            p {
                position: relative;
            }
            p::before {
                content: "";
                position: absolute;
                top: 28px;
                left: calc(-37px - 17px);
                width: 37px;
                height: 38px;
                background-color: rgba(169, 169, 169, 0.2);
                display: block;
            }
            p::after {
                content: "";
                position: absolute;
                top: 54px;
                left: calc(-25px - 5px);
                width: 25px;
                height: 25px;
                background-color: rgba(169, 169, 169, 0.2);
                display: block;
            }
            span.line {
                position: absolute;
                width: 1px;
                height: 25px;
                background-color: #a73724;
                top: 35px;
                left: -7px;
                transform: rotate(25deg);
            }
        }
        .section4 {
            position: relative;
            .wrap {
                width: calc(100% - (200px*2));
                max-width: 1000px;
                &:before, &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    background: rgba(#000, 0.1);
                }
                &::before {
                    width: 302px;
                    height: 182px;
                    right: 122px;
                    top: -53px;
                }
                &::after {
                    width: 55px;
                    height: 50px;
                    right: 95px;
                    top: 103px;
                }
            }
            h4 {
                position: absolute;
                top: 2%;
                right: 12%;
                width: auto;
                writing-mode: vertical-rl;
                letter-spacing: 4px;
                &::before,&::after  {
                    left: 50%;
                    transform: translateX(-50%);
                }
                &::before {
                    width: 1px;
                    height: 54px;
                    top: -90%;
                }
                &::after {
                    width: 6px;
                    height: 6px;
                    bottom: -25%;
                    top: auto;
                }
                
            }
            ul {
                max-width: 100%;
                padding-top: 17%;
                li {
                    width: 19%;
                    display: block;
                    margin: 0.5%;
                    overflow: hidden;
                    a {
                        transition: 0.5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
        .section5 {
            position: relative;
            margin-top: 23%;
            .wrap {
                width: calc(100% - (200px*2));
                max-width: 670px; 
                h4 {
                    position: absolute;
                    top: -10.5%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: auto;
                    writing-mode: vertical-rl;
                    letter-spacing: 4px;
                    &::before {
                        width: 171px;
                        height: 169px;
                        background: rgba(#000, 0.08);
                        left: -950%;
                        transform: translateY(-50%) skewX(-15deg);
                    }
                    &::after {
                        display: none;
                    }
                }
                p {
                    position: relative;
                    top: 20px;
                    max-width: 325px;
                    margin: 0 0 0 auto;
                    margin-top: -3%;
                    &:before, &:after {
                        content: '';
                        display: block;
                        background: #A73724;
                        position: absolute;
                    }
                    &:before {
                        width: 7px;
                        height: 7px;
                        top: 35px;
                        left: -12px;
                    }
                    &:after {
                        width: 1.5px;
                        height: 54px;
                        top: 38px;
                        left: -10px;
                    }
                }
            }
            ul {
                max-width: 828px;
                li {
                    .icon {
                        width: 70px;
                        height: 70px;
                    }
                    span {
                        font-size: 16px;
                    }
                }
            }
            .knowMore_btn {
                font-size: 16px;
            }
        }
        .section6 {
            position: relative;
            background: transparent;
            width: calc(100% - (200px*2));
            max-width: 1000px; 
            margin: 0 auto;justify-content: space-between;
            padding: 23% 0 11% 0;
            .map {
                iframe {
                    height: 345px;
                }
            }
            .wrap {
                width: 39%;
                margin: 0;
                max-width: 100%;
            }
            h4 {
                top: 22%;
                left: 1%;
                width: auto;
                writing-mode: vertical-rl;
                letter-spacing: 4px;
                &::before,&::after  {
                    left: 50%;
                    transform: translateX(-50%);
                }
                &::before {
                    width: 1px;
                    height: 54px;
                    top: -90%;
                }
                &::after {
                    width: 6px;
                    height: 6px;
                    bottom: -25%;
                    top: auto;
                }
            }
            .information {
                position: relative;
                width: 58%;
                background: rgba(#000, 0.1);
                max-width: 100%;
                ul {
                    padding: 70px 0 115px 0;
                    margin: auto;
                }
                li {
                    padding: 2% 0;
                    &.qr {
                        width: 128px;
                        height: 128px;
                        right: -2%;
                        bottom: 5%;
                    }
                }
            }
            .information::before {
                content: "contact us";
                position: absolute;
                top: -20px;
                left: 30px;
                writing-mode: vertical-rl;
                font-size: 12px;
                color: #a73724;
                letter-spacing: 1px;
            }
        }
        .section6__back::before, .section6__back::after {
            content: "";
            position: absolute;
            display: block;
            background-color: rgba(169, 169, 169, 0.2);
        }
        .section6__back::before {
            width: 36px;
            height: 37px;
            top: 0;
            left: 0;
        }
        .section6__back::after {
            width: 61px;
            height: 63px;
            top: 22px;
            left: 21px;
        }
        .section7 {
            position: relative;
            .wrap {
                width: 100%;
                margin: 0;
                max-width: 100%;
            }
            h4 {
                top: 26%;
                left: 1%;
                width: auto;
                writing-mode: vertical-rl;
                letter-spacing: 4px;
                &::before,&::after  {
                    left: 50%;
                    transform: translateX(-50%);
                }
                &::before {
                    width: 1px;
                    height: 54px;
                    top: -90%;
                }
                &::after {
                    width: 6px;
                    height: 6px;
                    bottom: -25%;
                    top: auto;
                }
            }
        }
        .section7__contatiner {
            position: relative;
            background: transparent;
            width: calc(100% - (200px*2));
            max-width: 1000px; 
            margin: 0 auto;justify-content: space-between;
            padding: 18% 0 6% 0;
        }
        .section7__back:before {
            content: "";
            position: absolute;
            display: block;
            background-color: rgba(169, 169, 169, 0.2);
            width: 24%;
            height: 182px;
            top: 20%;
            left: 0;
        }
    }
}