{% extends 'base.html.twig' %}

{% block title %}Hello {{app.user.name}}{% endblock %}

{% block body %}

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>
                            Home Page</h1>
                    </div>
                    <div class="row col-sm-3">
                        <img src="/img/logo.png" alt="AdminLTE Logo" class="brand-image img elevation-3"
                             style="opacity: .9">
                    </div>


                </div>

            </div>
        </div>
    </div>

{% endblock %}
