{% extends 'base.html.twig' %}

{% block body %}
    <main class="memberProfile memberProfile_edit activePage" id="memberProfile_edit">
        <ul class="member">
            <li>
                <h4>忘記密碼</h4>

            </li>
            <form method="post" action="{{ url('user.forgetPassword') }}">
                <li class="information information_edit">
                    <ol>
                        <li class="email">
                            <p>EMAIL</p>
                            {{ form_widget(form.email,
                                { "attr":{
                                    'class': "email",
                                    'placeholder': "輸入信箱"}}) }}
                        </li>
                        <li class="email">
                            <p>驗證碼</p>
                            {{ form_widget(form.verify,
                                { "attr":{
                                    'class': "email",
                                    'placeholder': "輸入驗證碼"}}) }}
                        </li>
                        <li class="newpassword">
                            <p>新密碼</p>
                            <input id="password" name="password" type="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? '最少6個字元' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;" placeholder="">
                        </li>
                        <li class="confirm_newpassword">
                            <p>重複新密碼</p>
                            <input id="password_two" name="password_two" type="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? '請輸入相同密碼' : '');" placeholder="">
                        </li>
                    </ol>
                </li>
                <li class="tip1 tip2">
                    <button type="submit" style="background-color: transparent">
                        <div class="button change_btn" >送出</div>
                    </button>
                </li>
            </form>
        </ul>
    </main>

{% endblock %}