{% extends 'base.html.twig' %}
{% block body %}
    <main class="memberProfile memberProfile_edit activePage" id="memberProfile_edit">
        <ul class="member">
            <li>
                <h4>註冊成功，已發出驗證信</h4>

            </li>
        </ul>
    </main>


{% endblock %}