{% extends 'farmer/base.html.twig' %}

{% block title %}Hello {{app.user.name}}{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
{#                        <div class="photo">#}
{#                            <img src="https://scontent.frmq2-1.fna.fbcdn.net/v/t1.0-9/90207752_2816431461756289_6904739602876071936_n.jpg?_nc_cat=111&_nc_sid=825194&_nc_ohc=ymjDEE23Tu4AX9z1jF2&_nc_ht=scontent.frmq2-1.fna&oh=0f069d3c248636cc60dc40cc5640068d&oe=5ECB1E9E" alt="小農點點">#}
{#                        </div>#}
                        <h1>This is Home Page.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
