.messages-list {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.messages-list ul {
    text-align: left;
    margin-bottom: 5px;
    padding: 10px;
    background-color: blueviolet;
}

#main {
    background-color: #e9ecef;
}
