{% extends 'base.html.twig' %}

{% block body %}
    <main class="about activePage" id="about">
        {% set images = getBanner(2) %}
        <div class="background" style="background: url('{{ images[0] }}')">
            <p>About us</p>
        </div>
        <div class="section section_1">
            <div class="component">
                <div class="wrap">
                    <h5>幸福的起源</h5>
                    <p>第一次, 打開媽媽私藏在櫥櫃的鐵盒, 悄悄端起一片焦糖佐色杏仁甜餅, 輕輕餟下一口, 嚐一口櫥櫃裡的秘密, 甜點的稚嫩芽種¸ 不經意地在心底種下。</p>
                    <p>格蕾朵甜點莊園的開店初衷, 原來是個極其簡單的意念, 小孩般單純地喜歡甜點, 單純地想將這份幸福感與人分享 這樣單純的意念, 卻意外地將長達四百多年的法式甜點文化, 移植到了有著珣珣驕陽的中台灣。</p>
                    <p>2009年初, 格蕾朵在台中市大業路發芽。</p>
                </div>
            </div>
            <div class="photo"></div>
        </div>
        <div class="section section_2">
            <div class="component">
                <div class="wrap">
                    <h5>流動的饗宴</h5>
                    <p>清晨四點一刻的巴黎第六區街頭, 一片沉寂, 十一月的冷空氣裡, 偶爾宿醉的路人, 和翻著垃圾桶的小貓, 是黑暗中難得的律動, 在Rue du Buci這條小街道上, 有一扇老舊的木製小窗, 緩緩地冒出白煙, 這扇小窗裡, 正烘焙著當天的麵包和糕點。</p>
                    <p>打蛋器裡律動地將蛋白打成棉密泡沫, 45度C的黑巧克力在鋼盆裡晶亮地流動, 格蕾朵的創辦人葉乃文, 也在這扇木窗裡, 努力地執行著每一個精確的動作, 彷彿打蛋器裡打的是希望, 45度C的黑巧克力是因熱情而流動, 而層架上一個一個膨脹發酵的不是可頌麵包, 而是年輕的夢想。</p>
                    <p>海明威說, 如果你夠幸運, 在年輕時待過巴黎, 那麼巴黎將永遠跟隨著你, 因為巴黎是一席流動的饗宴, 葉乃文就是這些幸運兒之一, 而不同的是, 她把這個流動的饗宴, 帶回了家鄉。</p>
                    <p>格蕾朵的取名, 像蓓蕾因為孕育而開出花朵, 是一個展開綻放的意念, 期待這個夢想醞釀的店, 能如蓓蕾開出花朵般地綻放, 甜美的粉紅色, 是格蕾朵令人印象深刻的企業色, 大膽的選色, 希望跟當年那個偷吃杏仁甜餅的小女孩致敬。</p>
                </div>
            </div>
            <div class="photo"></div>
        </div>
        <div class="section section_3">
            <div class="component">
                <div class="wrap">
                    <h5>感時應物的甜點文化</h5>
                    <p>格蕾朵甜點令人感動的秘密, 是從一片小餅乾, 到所有蛋糕都傳承了法式甜品工藝的精緻設計與堆疊, 堅持手工製作和烘焙, 當手打奶油與果醬糖霜佈滿眼前, 簡約典雅的法式美感打開滿滿的驚喜和發自內心的微笑。</p>
                    <p>格蕾朵亦努力將法國的工匠藝術和台灣在地作結合, 巧妙地運用天然的法國原料, 和依節氣更迭的在地食材, 成就獨樹一格的莊園風格。</p>
                </div>
            </div>
            <div class="photo"></div>
        </div>
    </main>

{% endblock %}