<div class="loadingPage" id="loadingPage">
    <div class="animationLogo">
        <div class="logo"></div>
    </div>
    <div class="backgroundIn"></div>
    <svg class="backgroundOut"><use xlink:href="#coverBGOut"/></svg>
</div>
