<footer class="up">
  <div id="top-button" class="footer__top-button"></div>
  <div id="logo_back">
    <img src="{{ asset('assets/image/logo2.svg') }}" class="logo">
    <video id="footer-video" autoplay loop muted playsinline>
      <source src="{{ asset('assets/video/footer.mp4') }}" type="video/mp4">
      <source src="{{ asset('assets/video/footer.webm') }}" type="video/webm">
    </video>
  </div>
  <div class="footer__content">
    <div class="column">
      <!-- <img src="./image/logo2.svg" class="logo"> -->
      <div class="social">
        <h1>FOLLOW US</h1>
        <a class="icon-fb" href="https://www.facebook.com/paperbagfullland/" target="_blank"></a>
      </div>
      <div class="copyright">
        <span>Copyright © Full Land Industrial Corp. All rights reserved.</span>
        <span>Site By Mounts Studio</span>
      </div>
    </div>
    <div class="column">
      <ul class="contact">
        <li>TEL +886-2-2627-5616</li>
        <li>sales@fullland.com.tw (Taiwan)</li>
        <li>export@fullland.com.tw (Oversea)</li>
      </ul>
    </div>
  </div>
</footer>