<footer id="footer">
    <div class="wrap">
        <ul>
            <li>
                <div class="icon icon_1">
                </div>
                <p>公司</p>
                <span>森業國際有限公司</span>
            </li>
            <li>
                <div class="icon icon_2">
                </div>
                <p>客服專線</p>
                <span>0800-288989</span>
            </li>
            <li>
                <div class="icon icon_3">
                </div>
                <p>郵件信箱</p>
                <span>senyesy@gmail.com</span>
            </li>
            <li>
                <div class="icon icon_4">
               </div>
                <p>地址</p>
                <span>台中市西區民權路225巷11號2樓</span>
            </li>
        </ul>
        <div class="qr"></div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.671415431774!2d120.66638031553832!3d24.1481749843948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693d75b3f089bb%3A0x19bdab7025023a8b!2zNDAz5Y-w5Lit5biC6KW_5Y2A5rCR5qyK6LevMjI15be3MTHomZ8!5e0!3m2!1szh-TW!2stw!4v1559390880850!5m2!1szh-TW!2stw" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</footer>